html {
    box-sizing: border-box;
}

 *,
 *::before,
 *,
 *::after {
    box-sizing: inherit;
 }


:root {
--main-font: "Roboto", sans-serif;
--primery-text-color: #2E2F42;
--second-text-color: #434455;
--accent-color: #E7E9FC;
--base-background-color: #fff;
--hero-background-rgba:rgba(46, 47, 66, 0.7); 
--img-background-rgba: rgba(77, 90, 229, 0.1);
--transition-duration-funct: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
        
body {
font-family: var(--main-font), sans-serif;
background-color:var(--base-background-color);
color: var(--primery-text-color);
letter-spacing: 0.02em;
margin: 0;
}
        
ul {
list-style: none;
margin: 0;
padding: 0;
}

header {
background-color: var(--base-background-color);
border-bottom: 1px solid #E7E9FC;
}

/* section {
padding-top: 120px;
padding-bottom: 120px;
    }

footer {
background-color:var(--primery-text-color);
}

.h1.hero-title {
margin: 0;
} */


.logo {
/* display: flex;
align-items: center; */
font-family: "Raleway", sans-serif;
color:#4D5AE5;
width: 44px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1.14;
}

.logo-second {
color: #2E2F42;
font-family: "Raleway";
font-weight: 800;
width: 48px;
font-size: 18px;
line-height: 1.14;
text-decoration: none;
text-transform: uppercase;
}
    
.container {
width: 100%;
padding-left: 16px;
padding-right: 16px;
margin: 0 auto;
} 

    /* site-nav */

    .site-nav, .auth-nav {
margin-top: 0;
margin-bottom: 0;
padding: 0;
}


        
.site-nav .link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 500;
text-decoration: none;
font-size: 16px;
line-height: 1.28;
transition: color var(--transition-duration-funct);
}

.site-nav .link:hover,
.site-nav .link:focus {
color: blue;
 } 

.auth-nav .item + .item {
margin-left: 40px;
    }

.auth-nav .link {
color: var(--second-text-color);
font-weight: 400;
text-decoration: none;
font-size: 16px;
line-height: 1.5;
transition: color var(--transition-duration-funct);
}
        
.auth-nav .link:hover, 
.auth-nav .link:focus {
color: blue;
}  */
        
/* Container header-nav */

.header-main {
display: flex;
align-items: center;
    } 

.header-nav {
display: flex;
align-items: center;
}

/* .site-nav {
display: flex;
align-items: center;
margin-left: 176px;
position: relative;
} */

/* .item {
position: relative;
}

.active-one::after {
content: "";
position: absolute;
display: block;
left: 0;
bottom: 0;
width: 48px;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
bottom: -1px;
    }


.active::after {
content: "";
position: absolute;
display: block;
left: 0;
bottom: 0;
width: 66px;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
}

.auth-nav {
display: flex;
align-items: center;
margin-left: auto;
}  */

/* hero */
        
.hero {
padding-top: 188px; 
padding-bottom: 188px;
background-color: var(--primery-text-color);
text-align: center;
max-width: 1440px;
height: 600px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient( to right, 
var(--hero-background-rgba), 
var(--hero-background-rgba) ),
 url(../images/people-office.jpg);
background-position: center;
background-repeat: no-repeat;
}
        
.hero-title {
margin-top: 0;
margin-left: auto;
margin-right: auto;
text-align: center;
font-family: inherit;
color:#fff;
font-weight: 700;
max-width: 496px;
font-size: 56px;
line-height: 1.07;
text-align: center;
}   

.modal-btn {
display: inline-block;
flex-direction: row;
align-items: center;
padding:  16px 32px;
color: #fff;
background-color: #4D5AE5;
font-family: inherit;
min-width: 170px;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.04em;
cursor: pointer; 
border: none;
text-align: center;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
0px 2px 1px rgba(0, 0, 0, 0.08), 
0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
transition: background-color var(--transition-duration-funct),
color var(--transition-duration-funct),
box-shadow var(--transition-duration-funct);
}
 

.modal-btn:hover,
.modal-btn:focus {
background-color: #fff;
color: #4D5AE5;
    }
        
    /* секция BOX преимущества */
        
.box {
display: flex;
gap: 24px;
margin: 0;
padding-left: 0px;
 }

 .icon-list {
display: flex;
justify-content: center;
align-items: center;
height: 112px;
width: 264px;
border-radius: 4px;
background-color:#F4F4FD;;
margin-bottom: 8px;
  }

.box-item:nth-child(4n) {
margin-right: 0;
}

.title-none {
overflow: hidden;
} 

.visually-hidden {
clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
overflow: hidden;
 }

.box-title {
/* padding-top: 120px; */
margin-top: 0;
margin-bottom: 0;
width: 264px;
color: var(--primery-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;  
    }
        
.box-text {
margin-top: 0;
margin-bottom: 0;
padding-top: 8px;
color: var(--second-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.2;
    }
        
    /* Work-people */

.img {
display: block;
width: 100%;
height: auto;
border: 0;
background-image: ( to right, 
var(--img-background-rgba), 
var(--img-background-rgba) ),;
background-blend-mode: soft-light, normal;
} 

.pictures {
font-weight: 700;
font-size: 36px;
line-height: 0.9;
text-align: center;
text-transform: capitalize;
margin: 0;
padding-bottom: 72px;
    }



    /* work */

.work-block {
background-color:#F4F4FD;
}

.work-list {
display: flex;
flex-direction: row;
gap: 24px;
padding-left: 0;
padding-bottom: 120px;
}

.work-shadow {
width: 264px;
background-color: var(--base-background-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.social-list {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 24px;
margin: 0;
padding-bottom: 32px;
}

.social-list-item-icon {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #4D5AE5;
transition: background-color var(--transition-duration-funct);
}

.social-list-icon-item {
fill: #F4F4FD;;
}

.social-list-item-icon:hover,
.social-list-item-icon:focus {
background-color:  #404BBF;
}


.work-tetle {
background-color: var(--base-background-color);
font-weight: 500;
font-size: 20px;
line-height: 0.9;
text-align: center;
margin: 0;
padding-top: 32px;
padding-bottom: 8px;
    }
        
.work-text {
background-color: var(--base-background-color);
font-weight: 400;
font-size: 16px;
line-height: 0.9;
text-align: center;
margin: 0;
padding-bottom: 8px;
    }
    
.logo-block {
background-color: #2E2F42;
width: 264px;
margin-right: 120px;
}

.logo-footer {
display: flex;
align-items: center;
padding-top: 100px;
padding-left: 0px;
margin-bottom: 16px;
font-family: "Raleway", sans-serif;
color:#4D5AE5;
width: 44px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1.14;
    }
        
.copy-text {
margin: 0;
padding: 0px;
color: var(--accent-color);
max-width: 364px; 
font-weight: 400;
font-size: 16px;
line-height: 1.28;
    }
    
    /* Portfolio */
        
.logo-block .second {
color: #fff;
    }
        
    .menu-visually {
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 120px;
    }
    
    /* section with photo block */
    
.presentation {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 49px;
}

.presentation-list {
width: 360px;
height: 420px;
border-top: transparent;
transition: box-shadow var(--transition-duration-funct);
}

.presentation-blok {
display: block;
font-family: inherit;
text-decoration: none;
width: 360px;
height: 420px;
border-top: 0px;
padding: 0;
margin: 0;
}

.presentation-list:hover,
.presentation-list:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.presentation-shadow {
background-color: var(--base-background-color);
border: 1px solid #E7E9FC;
border-top: transparent;
}

.presentation-list:nth-child(3n) {
margin-right: 0;
}

.presentation-title {
margin-top: 0;
margin-bottom: 8px;
padding-top: 32px;
padding-left: 16px;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    }
        
.presentation-text {
padding-bottom: 32px;
padding-left: 16px;
font-family: inherit;
color: var(--primery-text-color);
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 1.5;
margin: 0;
}

.overlay-wrapper {
position: relative;
overflow: hidden;
}

.overlay {
position: absolute;
left: 0;
top: 0;
transform: translate(0, 100% );
transition: transform var(--transition-duration-funct);
margin: 0;
padding-top: 40px;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 164px;
width: 100%;
height: 100%;
background-color: #4D5AE5;
font-family: inherit;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #F4F4FD;
}

.presentation-list:hover .overlay {
transform: translate(0, 0);
}

/* FOOTER social-place" */

.social-place {
/* display: flex; */
padding-top: 100px;
padding-bottom: 100px;
}
    
.social-footer {
padding-top: 100px;
margin-right: 80px;
}

.footer-block {
display: flex;
}

.social-footer-title {
margin: 0;
padding-bottom: 16px;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
}

.soc-list {
display: flex;
align-items: center;
gap: 16px;
 /* justify-content: center; */
}

.soc-list-item {
width: 40px;
height: 40px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
}

.soc-link {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
transition: background-color var(--transition-duration-funct);
}

.soc-link:hover,
.soc-link:focus {
background-color: #31D0AA;
border-radius: 50%;
}

/* SUBSCRIBE-FORM */

.subscribe-form {
    margin-right: auto;
}

.subscribe-h {
    margin: 0;
    padding-top: 100px;
    margin-bottom: 16px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    }
    
.form-input-btn {
display: flex;
align-items: center;
 gap: 24px;
    }
    
    
    .subscribe-input {
    width: 264px;
    height: 40px;
    background-color:transparent;
    border: 1px solid  #ffffff; ;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    padding-left: 16px;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: border-color var(--transition-duration-funct);
    }
    
    .subscribe-input:hover,
    .subscribe-input:focus { 
    border-color: #4D5AE5;
    }
    
.subscribe-button {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
padding: 8px 24px;
min-width: 165px;
height: 40px;
font-family:"Roboto", sans-serif ;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #FFFFFF;
background: #4D5AE5;
border-radius: 4px;
border: none;
outline: none;
cursor: pointer;
letter-spacing: 0.04em;
transition: background-color var(--transition-duration-funct),
color var(--transition-duration-funct),
box-shadow var(--transition-duration-funct);
    }
    
    .subscribe-button:hover,
    .subscribe-button:focus {
    outline: none;
    background-color: #fff;
    color: #4D5AE5;
    }
    
    .sub-btn-block {
    position: relative;
        }  
    
.sub-btn-icon {
top: 10px;
left: 0;
margin-left: 16px;
fill: #fff;
transition: fill var(--transition-duration-funct),
    }

    
.subscribe-button:hover + .sub-btn-icon {
fill: #4D5AE5;
    }


/* BACKDROP */

.backdrop {
position: fixed;
top: 0;
left: 0;
opacity: 1;
z-index: 100;
width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity var(--transition-duration-funct),
visibility var(--transition-duration-funct);
}

.backdrop.is-open {
opacity: 1;
visibility: visible;
pointer-events: auto;
}
    

.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
min-height: 584px; 
background-color: #FCFCFC;
padding: 72px 24px 24px 24px; 
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-btn {
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
width: 24px;
height: 24px;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #E7E9FC;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-color var(--transition-duration-funct);
}

.close-btn-icon {
/* fill:  black; */
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
background-color:#404bbf;
border: none; 
fill: rgba(255, 255, 255, 1);
}

.modal-close-btn:hover > .close-btn-icon,
.modal-close-btn:focus > .close-btn-icon {
fill:  rgba(255, 255, 255, 1);
}


/* "modal-form */ 

.modal-main-text {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 16px;  
    }

.modal-field {
margin-bottom: 8px;
    }
    
.modal-form {
display: flex;
flex-direction: column;
        }

        
.modal-form-field {
display: block;
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
    }
    
.modal-input-wrapper {
position: relative;
        }
          
.modal-form-input {
width: 100%;
height: 40px;
border:  1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
outline: transparent;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
     
.modal-input-icon {
position: absolute;
top: 50%;
left: 16px;
transform: translate(0, -50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.modal-form-input:hover, 
.modal-form-input:focus {
border-color: #4D5AE5;
}

.modal-form-input:hover + .modal-input-icon,
.modal-form-input:focus + .modal-input-icon {
fill: #4D5AE5;
}

.modal-field-last {
margin-bottom: 16px;
}

.modal-form-comment  {
resize: none;
width: 100%;
height: 120px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
font-family: inherit;
background-color:  transparent;
outline: transparent; 
padding: 8px 16px;
transition: border-color var(--transition-duration-funct);
}

.modal-form-comment:hover,
.modal-form-comment:focus {
border-color: #4D5AE5; 
}

.modal-form-policy {
font-family: inherit;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.policy-note {
color:  #4D5AE5;
text-decoration: underline;
}

.modal-field-check {
margin-bottom: 24px;
}

.modal-form-policy span {
width: 16px;
height: 16px;
margin-right: 8px;
border-color:#2E2F42;
border: 1px solid rgba(46, 47, 66, 0.4); 
border-radius: 2px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
}

.modal-form-agree:checked + label span {
background-color: #404bbf;
border: none;  
fill: #F4F4FD;
}


        
.modal-form-button {
display: block;
justify-content: center;
align-items: center;
text-align: center; 
padding:  16px 32px;
margin-left: auto;
margin-right: auto;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
border-style: none;
text-decoration: none;
text-transform: none;
min-width: 169px;
height: 56px;
background-color: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer; 
transition: background-color var(--transition-duration-funct) ;
}

.modal-form-button:hover,
.modal-form-button:focus {
background-color: #fff;
color: #4D5AE5;
 }


 /* =======MOBILE FIRST======= */


 /* .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid tomato; */
    

.mob-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100hv;
    background-color: rgba(255, 255, 255, 1);
    padding-top: 24px;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 24px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* .mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    } */

.mob-close-btn {
    display: block;
margin-left: auto;
margin-bottom: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: rgba(231, 233, 252, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color var(--transition-duration-funct);
}
 

.mob-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:hover,
.mob-close-btn:focus {
background-color:#404bbf;
border: none; 
fill: rgba(255, 255, 255, 1);
}

.modal-close-btn:hover > .close-btn-icon,
.modal-close-btn:focus > .close-btn-icon {
fill:  rgba(255, 255, 255, 1);
}


.link-mob-nav {
    font-family: inherit;
    color: var(--primery-text-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 36px;
    line-height: 1.28;
}

.link-mob-nav:hover,
.link-mob-nav:focus {
    color: rgba(64, 75, 191, 1);
}

.mob-item:not(:last-child) {
margin-bottom: 40px;
}

.mob-nav {
    margin-bottom: 168px;
}

.mob-auth-nav {
    margin-bottom: 40px;
}

.mob-link {
     font-family: inherit;
    color: black;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    line-height: 1.28;
    transition: color var(--transition-duration-funct);
    }

    .mob-link:hover,
    .mob-link:focus {
    color: rgba(64, 75, 191, 1);
}
    .mob-item-auth:not(:last-child) {
        margin-bottom: 24px;
        }


.mobile-soc-list {
    display: flex;
    align-items: center;
    gap: 40px;
     /* justify-content: center; */
    }
    
    .mob-soc-item  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(151, 71, 255, 1);
    background-color: rgba(151, 71, 255, 1);
    }
    
    .mob-soc-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition-duration-funct);
    }
        
    .mob-soc-item:hover,
    .mob-soc-item:focus {
        background-color: #31D0AA;
        border-color: #31D0AA;
}
   

    @media screen and (min-width: 320px) { 
    .container {
        max-width: 320px;
    }

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        }

        .header-page {
            padding-top: 16px;
            padding-bottom: 16px;
        }
        .mobile-menu {
background-color: transparent;
border: none;
color: rgba(47, 47, 55, 1);
padding: 0;
line-height: 0;
        }

        .backdrop {
            /* width: 288px;
            height: 623px;
        } */
}
}

@media screen and (max-width: 760px)
{     
/* .logo-second {
    margin-right: 120px;
} */
    .site-nav {
    display: none;
}
.auth-nav {
    display: none;
}

}

@media screen and (min-width: 768px) {
.container {
    max-width: 768px;
}
    .mob-menu, .mobile-menu {
        display: none;
    }
    .site-nav {
        display: flex;
        align-items: center;
margin-left: 176px;
position: relative;
}

    .auth-nav {
        display: flex;
    }

    .site-nav .item {
        margin-right: 40px;
        }
        .site-nav .item:last-child {
        margin-right: 0;
        } }


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }


}